
.animated-text-container {
    padding: 18px;
    background-color: rgb(148, 197, 181);
    overflow: hidden;
}

.animated-text {
    text-align: center;
    color: #FAFAFA;
    text-transform: uppercase;
    font-size: 1.4rem;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}